.banner {
    text-align: center;
    color: white;
    background: linear-gradient(to right, blue, darkblue);
    padding: 5px;
}
.form-input {
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    font-size: 20px;
    padding: 12px, 0px;
    margin: 0px, 10px;
}
.btn {
    margin-top: 10px;
    width: 100%;
    
}
.borderline {
    margin-top: 15px;
    border-bottom: 2px solid gray;
    width: 100%;
}
.title h2 {
    font-weight:bold;
}
.forecast {
    margin: 10px;
     padding: 20px;
     justify-content: space-between;
}

.current,
.five-day {
     margin: 20px;
     padding: 20px;
    
}
.weather-text {
    padding: 10px;
    color:aliceblue;
}
.inline {
    display:inline-block;
}